.TopcompanieshiringnowSliderContainer {
    width: 85%;
    margin: auto;
    margin: 20px auto;
}

.TopcompanieshiringnowSliderContainer button {
    box-shadow: 0px 0px 2px 0px rgba(130, 146, 180, 1);
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.slick-prev:before,
.slick-next:before {
    color: #8292b4;
}

.TopcompanieshiringnowSliderContainer .Card {
    border: 1px solid #8292b447;
    padding: 20px;
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.TopcompanieshiringnowSliderContainer .Card:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

.Card p:first-child {
    font-weight: bold;
    font-size: 20px;

}

.Card p:nth-child(2) {
    color: #8292b4;
    font-size: 14px;

}

.TopcompanieshiringnowSliderContainer .Card .picContainer {
    display: flex;
    justify-content: space-between;

}

.TopcompanieshiringnowSliderContainer img {
    width: 45px;
    border: 1px solid #8292b447;
}


.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.FeaturedcompanieSliderCard {
    border: 1px solid #8292b447;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.FeaturedcompanieSliderCard:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

.FeaturedcompanieSliderCard>div {
    height: 90px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fafafa;
}

.FeaturedcompanieSliderCard span {
    color: #8292b4;
    font-size: 15px;
}

.FeaturedcompanieSliderCard h2 {
    font-weight: 600;
    font-size: 20px;
}

.FeaturedcompanieSliderCard p {
    height: 50px;
    color: #8292b4;
    font-size: 14px;
    line-height: 16px;
}

.FeaturedcompanieSliderCard button {
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #f1f5ff;
    color: #4981ff;
    margin-top: 20px;
    box-shadow: none;
}

.FeaturedcompanieSliderCard img {
    width: 100px;
    border: none;
    margin: auto;
}

.FeaturedcompanieSliderCard div div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.viewAllCompaniesBtn {
    color: #4981ff;
    border: 0.5px solid #4981ff;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 42%;

}


#halfSlideContainer {
    background-color: white;
    border: 1px solid #8292b447;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    bottom: 330px;
    left: 160px;
    width: 65%;
}

#halfSlideContainer button {
    background-color: white;
}

.halfSliderCard {
    padding: 50px;
   
}

.halfSliderCard div {
    width: 100px;
    border: 1px solid #8292b447;
    display: inline-block;
    width: 45%;
    margin:10px;
    padding: 15px 10px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.halfSliderCard h1 {
    font-weight: 600;
}

.halfSliderCard p {
    color: #8292b4;
    font-size: 14px;
}