.TopcompanieshiringnowSliderContainer {
    width: 85%;
    margin: auto;
    margin: 20px auto;
    /* border: 1px solid red; */
}


.TopcompanieshiringnowSliderContainer button {
    box-shadow: 0px 0px 2px 0px rgba(130, 146, 180, 1);
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.slick-prev:before,
.slick-next:before {
    color: #8292b4;
}

.TopcompanieshiringnowSliderContainer .Card {
    border: 1px solid #8292b447;
    padding: 20px;
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.TopcompanieshiringnowSliderContainer .Card:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

.Card p:first-child {
    font-weight: bold;
    font-size: 20px;

}

.Card p:nth-child(2) {
    color: #8292b4;
    font-size: 14px;

}

.TopcompanieshiringnowSliderContainer .Card .picContainer {
    display: flex;
    justify-content: space-between;

}

.TopcompanieshiringnowSliderContainer img {
    width: 45px;
    border: 1px solid #8292b447;
}


.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.FeaturedcompanieSliderCard {
    border: 1px solid #8292b447;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.FeaturedcompanieSliderCard:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

.FeaturedcompanieSliderCard>div {
    height: 90px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fafafa;
}

.FeaturedcompanieSliderCard span {
    color: #8292b4;
    font-size: 13px;
}

.FeaturedcompanieSliderCard h2 {
    font-weight: 600;
    font-size: 20px;
}

.FeaturedcompanieSliderCard p {
    height: 50px;
    color: #8292b4;
    font-size: 14px;
    line-height: 16px;
}

.FeaturedcompanieSliderCard button {
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #f1f5ff;
    color: #4981ff;
    margin-top: 20px;
    box-shadow: none;
}

.FeaturedcompanieSliderCard img {
    width: 100px;
    border: none;
    margin: auto;
}

.FeaturedcompanieSliderCard div div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.viewAllCompaniesBtn {
    color: #4981ff;
    border: 0.5px solid #4981ff;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 42%;

}


#halfSlideContainer {
    background-color: white;
    border: 1px solid #8292b447;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;
    bottom: 130%;
    left: 160px;
    width: 65%;
}

#halfSlideContainer button {
    background-color: white;
}

.halfSliderCard {
    padding: 40px 20px;
}

.halfSliderCard div {
    width: 100px;
    border: 1px solid #8292b447;
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.halfSliderCard h1 {
    font-weight: 600;
}

.halfSliderCard p {
    color: #8292b4;
    font-size: 14px;
}

.sponsoredupdatedCard {
    text-align: center;
    padding: 10px;
}


.sponsoredupdatedCard {
    border: 1px solid #8292b447;
    /* margin: 5px; */
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white;
    /* border: 1px solid blue; */
    margin: 10px -3px;
    color: #98a5c1;
}

.sponsoredupdatedCard img {
    border-radius: 5px;
    margin: auto;
}

.sponsoredupdatedCard h1 {
    font-weight: bold;
    color: black;
    /* border: 1px solid tan; */
    height: 45px;
}

.sponsoredupdatedCard .ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 10px 0px;
    gap: 2%;
}

.sponsoredupdatedCard .btns p {
    border: 1px solid #8292b447;
    display: inline-block;
    font-size: small;
    padding: 0px 3px;
}

.sponsoredupdatedCard .btns p:nth-child(1) {
    margin-right: 5px;
}

.sponsoredupdatedCard:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

#sponsoredslider {
    border: 1px solid green;
}

#lastslider {
    width: 75%;
    position: relative;
    left: 80px;
    bottom: 270px;
    height: 250px;
    padding-top: 10px;
}

#lastslider button {
    background-color: white;
    color: white;
}

#lastslider .lastSliderCard {
    border: 1px solid #8292b447;
    padding: 10px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#lastslider .lastSliderCard:hover {
    box-shadow: 1px 37px 29px 10px rgba(238, 243, 247, 1);
}

#lastslider p {
    color: #8d9cbb;
    font-size: 13px;
    height: 120px;
    /* border: 1px solid beige; */
}

#lastslider span {
    color: #4c5c7e;
    
}

#lastslider h1 {
    font-size: 18px;
    font-weight: 600;
    height: 60px;
}

#lastslider .lastSliderCard button {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #8292b447;
    width: 50%;
    height: 22px;
    color: #8d9cbb;
    font-size: 8px;
}


.Card p:nth-child(2) {
    height: 50px;
}

@media screen and (max-width:1080px) {
    .halfSliderCard {
        padding: 35px 10px;
    }

    .halfSliderCard div {
        margin: 5px;
    }

    .halfSliderCard h1 {
        height: 40px;
        line-height: 17px;
    }

    .halfSliderContainer h2 {
        font-size: 25px;
    }

    #halfSlideContainer {
        bottom: 125%;
    }

    .interviewQuestion>div p:first-child {
        font-size: 15px;
    }

    .interviewQuestion>div p:last-child {
        font-size: 12px;
    }

    .threeCard>div:nth-child(3) p {
        font-size: 12px;
    }

    /* .threeCard{
        flex-direction: column;
    } */
    #lastslider span{
        font-size: 15px;
    }
}
@media screen and (max-width:800px){

    .threeCard>div:nth-child(1) img{
        width: 100%;
    }
    .threeCard>div:nth-child(1){
        width: 30%;
    }
    #lastslider span{
        font-size: 13px;
    }
    #lastslider .lastSliderCard button{
        font-size: 6px;
    }
    #lastslider .lastSliderCard h1{
        font-size: 15px;
    }
}

@media screen and (max-width:850px) {
    .threeCard>div:nth-child(3) p {
        font-size: 10px;
    }
}

@media screen and (max-width:740px){
    .threeCard{
        /* border: 1px solid red; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .threeCard>div:nth-child(3) p{
        font-size: 15px;
    }
    .threeCard>div:nth-child(1){
        width: 70%;
    }
    .threeCard>div:nth-child(1) img{
        width: 60%;
    }
    .threeCard>div:nth-child(2){
        width: 85%;
    }
    .threeCard>div:nth-child(3){
        width: 85%;
    }

}

@media screen and (max-width:800px) {
    .Card p:first-child {
        font-size: 19px;
    }

    .FeaturedcompanieSliderCard span {
        font-size: 10px;
    }

    .halfSliderContainer h2 {
        font-size: 35px;
    }

    .halfSliderContainer {
        margin-bottom: 360px;
    }

    #halfSlideContainer {
        width: 120%;
        bottom: 0px;
        left: -10%;
    }

    .sponsoredupdatedCard .ratings {
        font-size: 11px;
    }

    .sponsoredupdatedCard .btns {
        font-size: 13px;
    }

    .sponsoredupdatedCard h1 {
        font-size: 15px;
    }

}


@media screen and (max-width:760px) {
    .Card p:first-child {
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .Card p:first-child {
        font-size: 20px;
    }

    .Card p:nth-child(2) {
        height: 25px;
    }

    .viewAllCompaniesBtn {
        margin-left: 36%;
    }

    .halfSliderContainer h2 {
        font-size: 30px;
    }

}

@media screen and (max-width:500px) {
    .homePageHeading {
        font-size: 24px;
    }

    .viewAllCompaniesBtn {
        margin-left: 34%;
    }

    .halfSliderContainer h2 {
        font-size: 23px;
    }

    .halfSliderCard p {
        font-size: 13px;
    }
}

@media screen and (max-width:400px) {
    .halfSliderContainer h2 {
        font-size: 17px;
    }

    #halfSlideContainer {
        width: 120%;
        bottom: 0px;
        left: -3%;
    }
}