/* .speacer {
    height: 70px;
} */

.firstDiv {
    text-align: center;
    color: #8292b4;
    font-size: 20px;
    background-color: #f9fafe;
    border: 1px solid white;
}

.firstDiv h1 {
    font-weight: bold;
    font-size: 35px;
    color: black;
    margin-top: 55px;
    background-color: #f9fafe;
}

.searchDiv {
    box-shadow: 0px 0px 10px -5px rgba(130, 146, 180, 1);
    width: 80%;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    position: relative;
    top: 30px;
    display: flex;
    padding: 10px;

}

.searchDiv Input {
    border-radius: 0px;
    border: none;
    outline: none;
    color: #8292b4;

}

.searchDiv Select {
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    color: #8292b4;
}

.searchDiv Select option {
    height: 100px;
}

.searchDiv Button {
    background-color: #457eff;
    color: white;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;

}

.homePage3Btn {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.homePage3Btn Button {
    background-color: white;
    margin: 0px 3px;
    font-size: 14px;
}

.homePage3Btn Button:hover {
    background-color: white;
}

.firstFlexDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    gap: 10px;
    font-size: 20px;
}

.firstFlexDiv div {
    border: 1px solid #eaf1f5;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    /* font-size: 20px; */
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(234, 241, 245, 1);
    margin-top: 20px;
}

.firstFlexDiv div:hover {
    box-shadow: 0px 10px 40px -17px #8292b4;
}

.firstFlexDiv>div>p:first-child {
    padding: 3px;
    border-radius: 50%;
}

.homePageHeading {
    font-weight: bold;
    font-size: 35px;
    color: black;
    margin-top: 58px;
    margin-bottom: 9px;
    text-align: center;

}

.halfSliderContainer {
    height: 350px;
    margin: auto;
    width: 85%;
    padding: 50px 50px 50px 100px;
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 35px;
    background-color: #fef9f4;
    /* border: 1px solid red; */
}

.halfSliderContainer h2 {
    font-weight: bold;
    font-size: 30px;
}

.halfSliderContainer p {
    color: #8292b4;
}

.halfSliderContainer img {
    height: 100px;
}

.Sponsored {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: auto;
}

.Sponsored p {
    border: 1px solid #d3e1ea;
    padding: 5px 10px;
    border-radius: 20px;
}

.threeCard {
    margin: 50px 0px;
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    gap: 15px;
}

.threeCard h3 {
    color: #457eff;
    font-size: 600;
    font-size: 17px;
    text-align: center;
}

.threeCard h2 {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.threeCard>div:nth-child(1) {
    width: 25%;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
}

.threeCard>div:nth-child(1) img {
    width: 90%;
    margin-top: 30px;
}

.threeCard>div:nth-child(1) button {
    color: #938ee1;
    background-color: #f2f4ff;
    border-radius: 5px;
    font-size: 13px;
    padding: 7px 10px;
    margin-bottom: 20px;
}

.threeCard>div:nth-child(2) {
    border: 1px solid #eaf1f5;
    width: 45%;
    padding: 25px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.threeCard>div:nth-child(3) {
    width: 25%;
    padding: 10px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid #eaf1f5;
}

.threeCard>div:nth-child(3) div {
    margin: 15px 0px;
    font-size: 15px;
}

.threeCard>div:nth-child(3) span {
    color: #8292b4;
}

.threeCard>div:nth-child(3) p {
    border-bottom: 1px solid #eaf1f5;
    padding: 10px 0px;
    text-align: center;
}

.interviewQuestion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0px;

}

.interviewQuestion>div img {
    height: 50px;
}

.interviewQuestion>div p:first-child {
    font-weight: 600;
    font-size: 17px;
}

.interviewQuestion>div p:last-child {
    color: #8292b4;
}

.interviewQuestion>div {
    border: 1px solid #eaf1f5;
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.accelerateDiv {
    width: 90%;
    margin: auto;
    border: 1px solid #d3e1ea;
    display: flex;
    padding: 20px 0px;
    border-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.accelerateDiv>div:nth-child(1) {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accelerateDiv>div:nth-child(2) {
    width: 50%;
}

.accelerateDiv>div:nth-child(2) h2 {
    font-size: 20px;
    font-weight: bold;
}

.accelerateDiv>div:nth-child(2) p {
    color: #8292b4;
    font-size: 14px;
    margin: 7px 0px;
}

.accelerateDiv>div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #8292b4;
}

.accelerateDiv>div:nth-child(3) button {
    background-color: #457eff;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 40px;
    width: 50%;
    font-size: 17px;
}

.accelerateDiv .btnDiv {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: small;
}

.accelerateDiv .btnDiv button {
    border: 1px solid #d3e1ea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #445578;
    padding: 2px 10px;
}

.lastSliderContainer {
    width: 90%;
    margin: 30px auto;
    height: 300px;
    padding: 30px;
    padding-left: 0px;
}

.lastSliderContainer>h1 {
    font-weight: bold;
    font-size: 20px;
}

.lastSliderContainer button {
    color: #8d98e3;
    background-color: #f2f4ff;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.scannerDiv {
    height: 300px;
    width: 88%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-bottom: 40px;
}

.scannerDiv>div {

    width: 50%;
    background-color: #f2fcff;
    border-radius: 20px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.scannerDiv>div:first-child {
    /* padding: 50px 0px 0px 100px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    padding-left: 100px;
}

.scannerDiv>div:first-child>p {
    font-size: 14px;
    color: #849bbf;
}

.scannerDiv h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
}

.scannerDiv>div>img {
    height: 300px;
}

.inputBox {
    display: flex;
    border: 1px solid #849bbf;
    padding: 3px 10px;
    width: 65%;
    gap: 10px;
    justify-content: space-between;
    border-radius: 40px;
    align-items: center;
    background-color: white;
    color: #d3e1ea;
}

.scannerDiv button {
    margin-right: 10px;
}

.inputBox p:last-child {
    color: white;
    background-color: #457eff;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 20px;
}

.footerDiv {
    height: 400px;
    background-color: white;
    z-index: 2;
    position: sticky;
}

.footerDiv>div:nth-child(1) {
    border: 1.5px solid #d3e1ea;
    height: 65%;
    display: flex;
}

.footerDiv>div:nth-child(1) div:nth-child(1) {
    width: 20%;
    color: #849bbf;
    padding-left: 20px;
    padding-top: 50px;
}

.footerDiv>div:nth-child(1) div:nth-child(1) p {
    margin-top: 30px;
}

.iconImgs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footerDiv>div:nth-child(1) div:nth-child(2) {
    width: 40%;
    display: grid;
    padding: 50px 40px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    color: #445578;
}

.footerDiv>div:nth-child(1) div:nth-child(2) p:hover {
    color: #457eff;
}

.footerDiv>div:nth-child(1)>div:nth-child(3) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.footerDiv>div:nth-child(1)>div:nth-child(3) h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.footerDiv>div:nth-child(1)>div:nth-child(3) p {
    margin: 0px;
    color: #445578;
    font-size: 13px;
    margin-left: 10px;
}

.footerDiv>div:nth-child(1) div:nth-child(3) #lastdiv {
    padding: 10px;
    border: 1px solid #d3e1ea;
    border-radius: 10px;
    width: 100%;
}

.footerDiv>div:nth-child(1) div:nth-child(3) #lastdiv img {
    display: inline-block;
    margin-left: 10px;
}


.footerSlider>div {
    width: 100%;
    position: absolute;
    bottom: -40px;
    right: 10px;
}

.secondSecond {
    width: 50%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    color: #8292b4;
    margin-top: 50px;
    margin-left: 10px;
}

.secondSecond img {
    height: 30px;

}

@media screen and (max-width:1180px) {
    .accelerateDiv>div:nth-child(3) button {
        font-size: 13px;
    }

    .inputBox p:last-child {
        font-size: 10px;
    }

    .inputBox {
        width: 90%;
    }

}

@media screen and (max-width:1000px) {

    .Sponsored {
        font-size: 10px;
    }

    .accelerateDiv .btnDiv {
        font-size: x-small;
    }

    .accelerateDiv>div:nth-child(3) button {
        font-size: 11px;
    }

    .scannerDiv h1 {
        font-size: 22px;
    }

    .footerDiv>div:nth-child(1) div:nth-child(2) {
        font-size: 13px;
    }
}

@media screen and (max-width:900px) {
    .firstFlexDiv {
        font-size: 15px;
    }

    .halfSliderContainer {
        padding-right: 70px;
    }

    .accelerateDiv>div:nth-child(3) button {
        width: 60%;
    }

    .inputBox p {
        font-size: 10px;
    }

    .scannerDiv>div:first-child {
        padding-left: 40px;
    }

    .footerDiv>div:nth-child(1) div:nth-child(2) {
        font-size: 12px;
    }
    .secondSecond {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .accelerateDiv .btnDiv {
        font-size: 7px;
        gap: 4px;
    }

    .accelerateDiv>div:nth-child(3) button {
        width: 90%;
    }

    .lastSliderContainer>h1 {
        font-size: 16px;
    }

    .footerDiv>div:nth-child(1) div:nth-child(2) {
        padding: 50px 30px;
        font-size: 11px;
    }
}

@media screen and (max-width:706px) {
    .Sponsored {
        font-size: 7px;
    }
}

@media screen and (max-width:700px) {
    .firstFlexDiv {
        font-size: 12px;
    }

    .homePage3Btn Button {
        font-size: 13px;
        padding: 5px;
    }

    .accelerateDiv {
        flex-direction: column;
        /* border: 1px solid darkblue; */
        padding: 0px 20px;
        gap: 20px;
        padding: 10px;
    }

    .accelerateDiv div:nth-child(1) {
        width: 100%;
    }

    .accelerateDiv div:nth-child(2) {
        width: 100%;
    }

    .accelerateDiv div:nth-child(3) {
        width: 100%;
    }

    .accelerateDiv .btnDiv {
        font-size: 10px;
        gap: 4px;
    }

    .scannerDiv>div:first-child {
        padding-left: 10px;
    }

}

@media screen and (max-width:600px) {
    .firstFlexDiv {
        font-size: 10px;
    }

    .firstFlexDiv div {
        padding: 5px;
    }

    .homePage3Btn Button {
        font-size: 10px;

    }

    .halfSliderContainer {
        padding-left: 50px;
    }

    .Sponsored {
        font-size: 5px;
        gap: 5px;
    }

    .scannerDiv {
        /* border: 1px solid firebrick; */
        flex-direction: column-reverse;
        height: auto;
    }

    .scannerDiv>div {
        width: 100%;
    }

    .scannerDiv>div:nth-child(1) {
        padding: 35px;
    }

    .footerDiv>div:nth-child(1) div:nth-child(2) {
        font-size: 8px;
        padding: 50px 25px;
    }
    .secondSecond{
        font-size: 12px;
    }

}

@media screen and (max-width:500px) {
    .secondSecond{
        font-size: 10px;
    }
    .firstFlexDiv {
        font-size: 9px;
        gap: 0px;
    }

    .searchDiv button {
        font-size: 10px;
        padding: 4px;
    }

    .homePage3Btn Button {
        font-size: 9px;
    }

    .Sponsored {
        font-size: 4px;
        gap: 2px;
    }

    .accelerateDiv .btnDiv {
        font-size: 7.5px;
        gap: 3px;
    }

    .lastSliderContainer>h1 {
        font-size: 14px;
    }

    .footerDiv>div:nth-child(1) {
        flex-direction: column;
        height: auto;
    }

    .footerDiv>div:nth-child(1)>div:nth-child(1) {
        width: 100%;
        display: grid;
        gap: 3%;
    }
    .footerDiv>div:nth-child(1) div:nth-child(2){
        padding: 20px;
    }
    .footerDiv>div:nth-child(1) div:nth-child(3){
        padding: 20px;
    }

    .footerDiv>div:nth-child(1) div:nth-child(2) {
        width: 100%;
    }

    .footerDiv>div:nth-child(1) div:nth-child(3) {
        width: 100%;
    }
    .footerSlider>div{
        border: 1px solid rebeccapurple;
        bottom: -200px;
    }

}

@media screen and (max-width:400px) {
    .secondSecond{
        font-size: 7px;
    }
    .firstFlexDiv {
        font-size: 6px;
        margin-bottom: 10px;
    }

    .homePage3Btn Button {
        font-size: 6px;
        padding: 3px;
    }

    .halfSliderContainer {
        padding-left: 20px;
    }

    .halfSliderContainer p {
        font-size: 15px;
    }

}

@media screen and (max-width:415px) {
    .firstDiv h1 {
        font-size: 25px;
    }
}